
.review {
    margin: 20px;
    border: 3px;
    border-color: blue;
   
}

.card {
    border-color: blue;
    background-color: white ;
    border-radius: 5px;

    opacity: 10px;
    column-count: 6;
    margin-top: 10px;
    padding: 5px;
    margin-left: 10px;

}

.card-heading {
    background-color: white ;
    border-radius: 5px;
    column-count: 6;
    margin-top: 10px;
    margin-left: 10px;
    font-style: inherit;
    color: beige;
    background-color: black;
}

.card-inside{
    border: black;
   
}


.btn {
    background-color: orange;
    border-style: groove;
    border-radius: 5px;
    margin: 10px;
}
/* reference: W3School */