.privacy_para{
    margin-left: 40px;
}

.privacy{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
}

.pri-section {
    margin-bottom: 20px;
}