body{
   background-color: #fff;
}
/* add review styles */
h3{
   font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
.add-review-box{
   width: 330px;
   padding:2rem 1rem;
   margin: 50px auto;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text], select  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}

.button1 {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button1:hover {
  background-color: black;
}

/* edit review styles*/
.edit-review-box{
   width: 330px;
   padding:2rem 1rem;
   margin: 50px auto;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
   width: 100%;
   background-color: #a50727;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .button2:hover {
   background-color: #a50727;
   
 }
 /* reference: W3School */
